[submodule "ansible-pacemaker-rocky8"]
	path = ansible-pacemaker-rocky8
	url = https://github.com/kskmori/ansible-pacemaker-rocky8
[submodule "ansible-postgresql-shared"]
	path = ansible-postgresql-shared
	url = https://github.com/kskmori/ansible-postgresql-shared
[submodule "ansible-virtualbmc"]
	path = ansible-virtualbmc
	url = https://github.com/kskmori/ansible-virtualbmc
