[defaults]
# human-readable stdout/stderr results display
callback_result_format = yaml

gathering = smart
retry_files_enabled = False

inventory = ./inventories/osc2022fall.yml

# Vagrant ssh config
#remote_user = vagrant
host_key_checking = False
